<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data</title>
    <!-- data css -->
    <link rel="stylesheet" href="data.css">
</head>
<body>

    <article class="box weather">
        <div class="icon bubble black">
          <div>
            <img src="<%=myIcon%>" alt="weatherIcon">
            <!-- <img src="https://dl.dropbox.com/s/0qq5anxliaopt8d/sun.png"> -->
          </div>
        </div>
        
        <h1><%=myDescribe%></h1>
        <span class="temp"><%=myTemp%>&deg;</span>
        <span class="high-low"> <%=myMin%>&deg;/ <%=myMax%>&deg;</span>
      </article>


    
</body>
</html>






